name: SQL Backup and Restore

on:
  schedule:
    - cron: '*/2 * * * *'  # Ejecuta la tarea cada 2 minutos
  workflow_dispatch:  # Permite ejecutar la acci贸n manualmente desde GitHub

jobs:
  backup_restore:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3

      - name: Configurar Docker
        uses: docker/setup-buildx-action@v2

      - name: Dar permisos de ejecuci贸n al script
        run: chmod +x script.sh
        
      - name: Verificar Docker
        run: docker --version
        
      - name: Ejecutar el Script de Backup y Restauraci贸n
        run: ./script.sh
